* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color:#27ba7e;
}

header {
  background-color: #00EC00;
}

header .row {
  width: 80%;
}

/* navbar */

.navbar {
  padding: 0 1rem;
  background-color: #00BB00;
}
.nav-item {
  line-height: 36px;
  background-color: #FFFF37;
  border-radius: 10px;
  width: 60px;
  margin-left: 10px;
  text-align: center;
}

.nav-item:hover {
  background-color: #FFE153;
}

/* searchBlock */
.searchBlock {
  background-color: #82D900;
}

.searchBlock input {
  height: 40px;
}

/* animalBlock*/
.card{
  border-radius: 25px;
  background-color: #02F78E;
}

.card .imgBlock {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-align: center;
  position: relative;
  border-radius: 25px;

}

.card .imgBlock img {
  max-height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  border-radius: 4px;
  /* object-fit: cover; */
}

.card .imgBlock img:hover {
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out 0s;
}

.card:hover img {
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out 0s;
}